* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

.successMessage {
    padding: 8px;
    background-color: green;
    color: #fff;
    display: none;
}

.errorMessage {
    padding: 8px;
    margin-bottom: 8px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    display: none;
}